---
import Layout from '../layouts/Layout.astro';
---
<Layout title="experimentar.eu">
  <div class="space-y-12">
    
    <section>
      <p class="mb-8">Current project</p>
      <div class="ml-16">
        <a href="/current-project">gettashower</a>
      </div>
    </section>

    <section>
      <a href="/portafolio">Portafolio</a>
    </section>
  </div>
</Layout>