---
import '../styles/global.css';
---
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>experimentar.eu</title>
  </head>
  <body class="p-12 md:p-24">
    <header class="flex justify-end mb-40">
      <a href="/about-the-site">About the site</a>
    </header>
    <main>
      <slot />
    </main>
  </body>
</html>