---
import '../styles/global.css';
---
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>experimentar.eu</title>

    <script async src="https://www.googletagmanager.com/gtag/js?id=G-M2WMWPDG8E"></script>
    <script is:inline>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-M2WMWPDG8E');
    </script>
  </head>
  <body class="p-12 md:p-24">
    <header class="flex justify-end mb-40">
      <a href="/about-the-site">About the site</a>
    </header>
    <main>
      <slot />
    </main>
  </body>
</html>